.kaffeparty-section h2 {
    color: #3C2A21;
    font-weight: bold;
}

.card {
    transition: transform 0.3s ease-in-out;
    border-color: #DBC1AC;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    color: #3C2A21;
    font-weight: bold;
}

.btn-primary {
    background-color: #967259;
    border-color: #967259;
}

.btn-primary:hover {
    background-color: #3C2A21;
    border-color: #3C2A21;
}